
.principal{
    display: flex;
   
}
.first{
    background-color:white;
    width: 550px;
    height: 97vh;
}

.second {

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    width: 900px;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
}

.child {
    background-color: aqua;
    width: 230px;
    height: 130px;
    border-radius: 15px;
    color: white;
    background-color: rgba(252, 247, 247, 0.429);

 
    
}

.childBlack {
    background-color: aquamarine;
    width: 230px;
    height: 130px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.779);
    color: white;

   
}

.ligne1{
    display: flex;
   justify-content: space-around;
  
   
  
}
.ligne2{
    display: flex;
    justify-content: space-around;
    
}
.ligne3{
    display: flex;
    justify-content: space-around;
 
}
.titleSecond{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
