
.principal{
    display: flex;
    background: url(Desig.png) ;
    background-size: cover;
   
   
}
.first{

  
    background: linear-gradient(50deg, rgb(70, 135, 72) 0%,  #120fd3ba 100%);
    border-radius: 100px;
    width: 550px;
    height: 95vh;
    display: flex;
    padding-top: 40px;
    justify-content: center;
     align-items:self-start;

   
}

.titleSecond{
    color:red;
}


.second {
    
    width: 900px; 
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     
  
}




.child {
   
    width: 230px;
    height: 130px;
    border-radius: 15px;
    color: white;
    background-color:   #120fd3ba;

 
    
}

.childBlack {
   
    width: 230px;
    height: 130px;
    border-radius: 15px;
    background-color:  #120fd3ba;
    color: white;

   
}

.ligne1{
    display: flex;
   justify-content: space-around;
  
   
  
}
.ligne2{
    display: flex;
    justify-content: space-around;
    
}
.ligne3{
    display: flex;
    justify-content: space-around;
 
}
.titleSecond{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#search{
    padding: 10px 70px;
    border-radius: 5px;
    border: 1px solid #120fd3;
   border-radius: 25px;
   font-size: 10px;

   
}

button {
    padding: 8px;
    border-radius: 5px;
    background-color: #120fd3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;

}
