
.principal{
    display: flex;
    background: url(Desig.png) ;
    background-size: cover;
   
   
}
.first{

  
    background: linear-gradient(50deg, rgb(70, 135, 72) 0%,  #120fd3ba 100%);
    border-radius: 100px;
    width: 550px;
    height: 95vh;
    padding-top: 40px;
   

   
}

.titleSecond h1{
    color: white;
    background: linear-gradient(50deg, rgb(70, 135, 72) 0%,  #120fd3ba 100%);
 
    
}


.second {
    
    width: 900px; 
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     
  
}




.child {
   
    width: 230px;
    height: 130px;
    border-radius: 15px;
    color: white;
    background-color:   #120fd3ba;

 
    
}

.childBlack {
   
    width: 230px;
    height: 130px;
    border-radius: 15px;
    background-color:  #120fd3ba;
    color: white;

   
}

.ligne1{
    display: flex;
   justify-content: space-around;
  
   
  
}
.ligne2{
    display: flex;
    justify-content: space-around;
    
}
.ligne3{
    display: flex;
    justify-content: space-around;
 
}
.titleSecond{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
}

#search{
    padding: 10px 70px;
    border-radius: 5px;
    border: 3px solid #120fd3;
   border-radius: 25px;
   font-size: 10px;

   
}

button {
    padding: 8px;
    border-radius: 5px;
    background-color: #120fd3;
    color: white;
    border: 0.5px solid white;
    cursor: pointer;
    font-size: 13px;
    margin-left: 10px;

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info img {
    width: 400px; 
    
  }
.tempe{
    margin-top: -25px;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}
 .description{
    margin-top: -25px;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 hr {
    margin-top: 95px; 
    width: 400px; 
    border-style:solid; 
    border-width: 2px; 
    border-color: rgb(246, 246, 248)
  }
.City{

    display: flex;
    align-items: center;
    justify-content: center;
   

}
.City h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dateheurs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dateheurs h2{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.dateheurs h3{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}